# Eclipse #
###########
.buildpath
.project
.settings
.settings/org.eclipse.php.core.prefs

.DS_Store
.htaccess

# Yii webapp #
##############
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db

# Logs and databases #
######################
*.log
*.sql
*.sqlite

*.php~
*.css~
*.php.orig
